@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: rgb(44, 195, 173);
  background: linear-gradient(141deg, rgba(44, 195, 173, 1) 0%, rgba(57, 175, 167, 1) 7%, rgba(44, 102, 159, 1) 22%, rgba(114, 72, 140, 1) 39%, rgba(138, 50, 127, 1) 51%, rgba(158, 50, 172, 1) 69%, rgba(115, 59, 140, 1) 83%, rgba(140, 59, 131, 1) 92%);
  /* height: 100dvh; */
}

::-webkit-scrollbar {
  width: 6px
}

::-webkit-scrollbar-track {
  background: #f1f1f1
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #363636;
}